@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Handlee&family=Poppins:wght@100;200;300;400;500;600;800&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

html {
    font-size: 62.5%;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

/* navbar */

.main-nav {
    width: 100%;
    height: 8rem;
    display: grid;
    grid-template-columns: 8rem 2fr 2fr 1fr 8rem;
    background-color: #282828;
    color: white;
}

.logo {
    display: flex;
    align-items: center;
    grid-column: 2/3;
    font-size: 2rem;
    font-weight: bold;
}
.menu-link {
    /* display: flex; */
    grid-column: 3/4;
    /* align-items: center; */
}

.menu-link ul {
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.5rem;
}
.menu-link ul li a {
    color: white;
    font-weight: 500;
}

.social-media {
    grid-column: 4/5;
}

.social-media ul {
    height: 100%;
    display: grid;
    grid-template-columns: 3fr repeat(2, 1fr);
    align-items: center;
    font-size: 2rem;
}

.social-media ul li:first-child {
    grid-column: 2/3;
}
.social-media ul li {
    text-align: right;
}
.facebook {
    color: #4267b2;
    background-color: white;
}
.instagram {
    color: #e95950;
    background-color: white;
}

.hamburger-menu {
    display: none;
}

/* HERO SECTION  */

.hero-section {
    height: 90vh;
    width: 100%;
    background-image: url("/src/images/hero-banner2.jpg");
    background-size: cover;
    background-position: center;
}
.hero-wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(0 0 0 / 49%);
}

.hero-title {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.hero-section .hero-title h1,
span {
    color: white;
    font-family: "Abril Fatface", cursive;
    font-size: 4rem;
    text-align: center;
}
.hero-title p {
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
    color: white;
}

.dynamic-text {
    text-align: center;
    padding: 0;
    overflow: hidden;
    height: 5rem;
    line-height: 5rem;
    margin: 0;
}

.dynamic-text li {
    position: relative;
    top: 0;
    animation: slide 7s steps(4) infinite;
}

@keyframes slide {
    100% {
        top: -25rem;
    }
}

.hero-logo {
    height: 13rem;
}

.hero-logo img {
    width: 100%;
    height: 100%;
}

/* GALLERY COMPO */

.image-container {
    width: 90vw;
    margin: 0 auto;
}
.image-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
}

.image-viewer-container {
    position: relative;
}

.image-viewer {
    height: 25rem;
    cursor: pointer;
    position: relative;
}

.image-viewer:hover {
    transform: scale(1.05);
    transition: all 0.5s;
}

.image-viewer img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
}
.delete-icon,
.star-icon {
    display: none;
}

.delete-icon,
.star-icon {
    padding: 1rem 0;
    box-shadow: -5px -5px 10px rgb(0 0 0 / 50%);
    font-size: 3rem;
    z-index: 99;
}

.star-icon {
    position: absolute;
    padding: 10px;
    top: 1rem;
    right: 1rem;
    color: white;
}

.delete-icon {
    position: absolute;
    bottom: 0rem;
    width: 100%;
    background: #ff0000de;
    color: black;
}

.star-icon.active {
    background-color: azure;
    display: flex;
    color: #000;
}

.image-viewer:hover > .delete-icon {
    display: flex;
    justify-content: center;
}

.image-viewer:hover > .star-icon {
    display: flex;
}

.disp-none {
    display: none;
}

.pop-image {
    position: fixed;
    background: #0a0a0ace;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    z-index: 100;
    display: flex;
    justify-content: center;
}

.pop-image span {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 4rem;
    font-weight: 400;
    color: white;
    cursor: pointer;
    z-index: 100;
}

.pop-image img {
    position: absolute;
    max-height: 90vh;
    width: 70%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: contain;
}

/* portfolio */

.portfolio-section,
.services-section {
    padding: 3rem 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
}

.services-section title,
.portfolio-section title {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.portfolio-section h1,
.services-section h1 {
    font-size: 3rem;
    text-align: center;
    position: relative;
}

.portfolio-section .title > h1::after,
.services-section .title > h1::after {
    content: "";
    position: absolute;
    background: #0a0a0a;
    width: 50%;
    height: 3px;
    bottom: 0;
    right: 0;
    transform: translateX(-50%);
}

.portfolio-section p,
.services-section p {
    font-family: "Abril Fatface", cursive;
    font-size: 2rem;
    font-weight: 100;
}

.view-more a {
    color: white !important;
}

.view-more {
    padding: 1rem 2rem;
    font-size: 1.5rem;
    background-color: #282828;
    border: none;
    font-weight: 500;
    border-radius: 5px;
    box-shadow: 1px 5px 5px rgb(0 0 0 / 0.3);
    transition: 1s all;
}

.view-more:hover {
    cursor: pointer;
    background-color: gray;
    color: white;
    box-shadow: 10px rgba(0, 0, 0, 0.3);
}

.services {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
}

.service {
    height: 30rem;
    width: 45rem;
    background-size: cover;
}

.service.wedding {
    background-image: url("https://cdn1.marathistars.com/wp-content/uploads/2019/04/Sakhi-Gokhale-Suvrat-Joshi-Marriage-Hd-Photos.jpg");
}
.service.birthday {
    background-image: url("/src/images/birthday-cover.webp");
}
.service.kids {
    background-image: url("/src/images/kids-cover.jpeg");
}
.service.corporate {
    background-image: url("/src/images/corporate-cover.webp");
}

.service.prewedding {
    background-image: url("/src/images/pre-wedding.jpg");
}
.service.traditional {
    background-image: url("/src/images/traditional.jpg");
    background-position: center;
}
.service.candid {
    background-image: url("/src/images/candid.jpg");
    background-position: center;
}
.service.baby-shower {
    background-image: url("/src/images/baby-shower.jpg");
    background-position: center;
}

.service .typography {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    text-align: center;
    background: #0000007c;
    color: white;
}

.footer {
    height: 20rem;
    display: grid;
    grid-template-columns: 10rem 1fr 2fr 2fr 10rem;
    background-color: #212020;
    color: white;
    align-items: center;
    gap: 2rem;
}

.company {
    width: 100%;
    grid-column: 4/5;
    text-align: center;
}

.about {
    grid-column: 3/4;
}
.about .contact {
    margin-top: 2rem;
}
.about .contact a {
    color: white;
}
.social {
    grid-column: 2/3;
    text-transform: uppercase;
}

.social ul {
    display: flex;
    gap: 2rem;
    font-size: 3rem;
}

/* GALLERY */

.gallery-container {
    width: 90vw;
    margin: 0 auto;
    padding: 4rem 0rem;
}
.heading {
    margin: 2rem;
    display: flex;
    justify-content: center;
}

.heading h1 {
    font-family: "Handlee", cursive;
    font-size: 4rem;
}

.filters {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
    margin-bottom: 3rem;
}

.filters button {
    transition: 0.5s all;
    padding: 0.5rem 1rem;
    text-transform: uppercase;
    outline: none;
    border: none;
    font-size: 1.5rem;
}
.filters button:hover {
    cursor: pointer;
}

.filters .active {
    background-color: #4bd5b2;
    color: white;
    box-shadow: 2px 2px 5px rgb(0 0 0 / 30%);
}

@media only screen and (max-width: 998px) {
    .main-nav {
        height: 7rem;
        grid-template-columns: 2rem 2fr 3fr 1fr 2rem;
    }

    .social-media ul {
        display: grid;
        grid-template-columns: 1fr repeat(2, 1fr);
        align-items: center;
    }
    .services {
        gap: 2rem;
    }

    .service {
        height: 20rem;
        width: 35rem;
        background-size: cover;
    }
}

@media only screen and (max-width: 768px) {
    .main-nav {
        height: 7rem;
        grid-template-columns: 2rem 2fr 3fr 2fr 2rem;
    }
    .menu-link {
        display: none;
    }
    .social-media ul {
        display: none;
    }
    .logo,
    .social-media ul {
        height: 7rem;
    }
    .social-media {
        height: 100%;
        display: flex;
        justify-self: end;
        align-items: center;
        font-size: 3rem;
        grid-row: 1/2;
    }
    .hamburger-menu {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .mobile-menu-link {
        grid-column: 2/4;
        position: relative;
        z-index: 99;
    }

    .mobile-menu-link {
        background-color: #282828;
        height: 20rem;
        display: grid;
        grid-column: 2/5;
        align-items: center;
        padding-left: 3rem;
        transform-origin: top;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
            rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    }

    .mobile-menu-link ul {
        height: 20rem;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        align-items: start;
    }

    .mobile-menu-link ul li:first-child {
        width: 100%;
    }

    .social-media {
        grid-row: 1/2;
        grid-column: 3/5;
        justify-items: end;
        align-items: center;
        transition: all 2s linear;
    }

    /* HERO SECTION  */

    .hero-section {
        width: 100%;
        height: 40rem;
        background-size: cover;
        background-position-x: center;
        background-repeat: no-repeat;
    }
    .hero-wrapper {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: rgb(0 0 0 / 58%);
    }

    .hero-title .heading {
        width: 70%;
        color: white;
        font-family: "Abril Fatface", cursive;
        font-size: 2rem;
        text-align: center;
    }

    .hero-title p {
        margin-top: 2rem;
        font-size: 1.5rem;
        width: 90%;
        text-align: center;
    }

    .hero-logo {
    }

    .image-grid {
        grid-template-columns: 1fr 1fr;
    }

    /* services */

    .services {
        grid-template-columns: 1fr;
        gap: 2rem;
    }

    .service {
        height: 30rem;
        width: 45rem;
        background-size: cover;
    }

    .footer {
        padding: 1rem;
        grid-template-columns: 100%;
        height: 100%;
        justify-items: center;
        align-items: center;
    }
    .about {
        grid-column: 1;
    }
    .company {
        grid-column: 1;
    }
    .social {
        grid-column: 1;
    }

    /* GALLERY */
    .pop-image img {
        width: 95%;
    }

    /* CONTACT */
    .mobile-contact {
        flex-direction: column-reverse;
        font-size: 1.5rem;
    }
}

@media only screen and (max-width: 600px) {
    .image-grid {
        grid-template-columns: 1fr;
    }

    .service {
        height: 30rem;
        width: 35rem;
    }
}
